#root {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.App-header {
  padding: 20px;
  font-size: 1.5em;
}
