* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.header {
  background-color: rgb(68 68 68);
  color: rgb(255 0 0);
  padding: 0.5rem;
  text-align: left;
  font-size: 2.5rem;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}

.category-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #444;
}

.category-button {
  /* margin: 0 10px;
  padding: 0 20px;
  border-radius: 20px;
  background-color: rgb(0 0 0);
  color: white;
  border: none; */
  cursor: pointer;

}

.category-button:hover {
  background-color: #ff0000;
}

.category-button:focus {
  background-color: #ff0000;
}


.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
  background-color: #252323;
  margin: 0px;
}

.movie-card {
  display: flex;
  flex-direction: column;
  background-color: #1c1c1c;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 16px;
  width: 200px;
  color: white;
  font-family: 'Arial', sans-serif;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.movie-card-image {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.movie-card-release-year {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  margin-top: 0.2rem;
}

.movie-card-content {
  display: flex;
  flex-direction: column;
}

.movie-card-title {
  font-size: 1em;
  margin-top: 0.5em;
}

.movie-card-genres,
h4 {
  font-size: 0.75em;
  margin: 8px 0;
}

.movie-card-director,
.movie-card-cast {
  font-size: 0.75em;
  margin: 8px 0 0 0;
}

.movie-card-overview {
  font-size: 0.75em;
  margin-top: 2px;
  color: #d5cfcf;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width:768px) {

  .movie-card {
    padding: 0;
  }

  .movies-container {
    gap: 0;
  }
}

@media (max-width:600px) {

  .movie-card {
    padding: 0;
    width: 85%;
  }

.movies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-card-image {
  object-fit: scale-down;
}

}